.Normal_text {font-family:Arial;font-weight:normal;font-style:normal;font-size:13px;text-decoration:none;text-transform: none;color:#EBEBEB;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_1 {font-family:'Anton';font-weight:normal;font-style:normal;font-size:48px;text-decoration:none;text-transform: none;color:#E5E5E5;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_2 {font-size:32px;}
.Heading_3 {font-size:24px;}
.Heading_4 {font-size:16px;}
