@font-face {font-family: 'Anton';font-weight:normal;font-style:normal;src: url("xara_font_2.woff?1146") format("woff"), local('Anton');}
@font-face {font-family: 'Days One';font-weight:normal;font-style:normal;src: url("xara_font_3.woff?1146") format("woff"), local('Days One');}
